.details {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    font-weight: bolder;
  }

.details h2 {
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    color: #edf5e1;
    }

.details button {
      background: #802BB1;
      color: #fff;
      border: 3px solid;
      padding: 20px 50px;
      border-radius: 10px;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      margin: 1rem;
    }

.details button:hover, button:active {
    background-color: white;
    color: #802BB1;
  }

.button1 {
    position:fixed; right:220px; top:100px
  }

.button2 {
    position:fixed; right:220px; top:180px
  }

@media screen and (max-width: 1300px) {
    .details button {
      position: static;
    }}

.error {
      font-size: larger;
      text-align: center;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white;
  }
  
.error a {
      color: #802BB1 ;
  }
  
.error a:hover, a:active {
       color: white;
       text-decoration: none
  }

  

 