.home {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    font-weight: bolder;
    font-size: larger;
    column-count: 2;
  }
.home button {
    color: #802bb1;
    text-align: center;
  }
.h5 {
    font-weight: lighter;
  }

.home p {
font-size: medium;
}
.home input {
  position:fixed; right:220px; top:100px
}

.card {
  break-inside: avoid;
  display: inline-block;
  width: 15rem;
  
  
}

@media screen and (max-width: 1300px) {
  .home input {
    position: center inherit;
  }
  .card {
    margin-top: 50px;
  }
}



.error {
    font-size: larger;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.error a {
    color: #802BB1 ;
}

.error a:hover, a:active {
     color: white;
     text-decoration: none
}

.center {
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 10px;
}





