.not_found {
    font-size: larger;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.not_found a {
    color: #802BB1 ;
}

.not_found a:hover, a:active {
     color: white;
     text-decoration: none
}